body {
    height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom, #222, black);
    color: white;
    font-family: Verdana, sans-serif;
}

header, main, footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

main {
    height: 800px;
}

canvas {
    width: 800px;
    height: 800px;
    position: absolute;
    top: 0;
}

ul > li {
    line-height: 1.5rem;
}
